<!DOCTYPE html>
<html>
    <style>
        body{
            background-image: url("pic1.png");
          }
          hr{
              width: 100%;
            border-top: 1px solid black;
          }
          </style>
    <title>No page</title>
    
    <body>
        <h1>Oops, No page found!</h1>
        <h2>ERROR 404</h2>
        <hr>
    </body>
</html>
