<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body{
          background-image: url("pic1.png");
        }
         @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
        * {
            margin: 0;
            font-family: "Quicksand";
            color: #333;
        }
        .topnav {
        overflow: hidden;
        background-color: black;
        }
        a:link {

text-decoration: none;
}

a:hover{
background-color: rgb(250, 151, 2);
text-decoration-color: black;
border-radius: 20px;
text-decoration: none;
}

        .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        }

        .topnav a:hover {
        background-color: rgb(250, 151, 2);
        color: black;
        }

        .topnav a.active {
        background-color: rgb(250, 151, 2);
        color: white;
        }

        .topnav-right {
        float: right;
        }   
        h1{
            color:rgb(250, 151, 2) ;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        .center{
            margin: auto;
            width: 100;
            padding: 180px 0;
        }
        center h1 {
             line-height: 1.5;
             display: inline-block;
             vertical-align: middle;
            }    
        center p {
             line-height: 1.5;
             display: inline-block;
             vertical-align: middle;
            }
        p{
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: underline;
            text-decoration-color: white;
        }    
        hr{
            width: 15%;
            border-top: 1px solid rgb(250, 151, 2);
        }
    
    </style>
</head>
<body>
    <div class="topnav">
        <a class="active" href="./login">LOGIN</a>
        <div class="topnav-right">
           
            <a href="./home">HOME</a>
            <a href="./register">REGISTER</a>    
        </div>
      </div>
      <center>
          <div class="center">
      <h1>ABOUT THIS PROJECT:</h1>
      <br><br>
      <pre style="color: white;font-family: Arial, Helvetica, sans-serif;font-size: 20px;background-color: rgb(250, 151, 2);">
        
        "How much do I need to study?" or "Where do I stand?",
        these are the two questions that haunt every dedicated student throghout his/her education. 
        This is an attempt to help find the answers to these questions.
        This student placement Analyzer lets the student feed in his/her details,
        provide account-handling capability and helps the student decide an achievable target for him/herself. 
        Based on the entered data, 
        EPA plots Graphs representing a close approximation of the effort the student needs to put to achieve his/her target. 
        The EPA also has a leaderboard which lets the student compare his/her score with his/her peers, 
        promoting a healthy competetion. We also provide Testimonials from successfull pass-outs for guidance, 
        inspiration. Pedigree information about the placement statistics are also available on our portal.
         

        Project by :Bharath ithal,Mrunalini thamankar,Lehar P

      </pre>
    </div>
    </center>
</body>
</html>