<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
      body{
          background-image: url("pic1.png");
        }
        .home {
        float:none;
        } 
    .home a:hover {
        background-color: rgb(250, 151, 2);
        color: black;
        }
    
    .home a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        }
        h3{
            color:rgb(250, 151, 2);
            text-transform:capitalize;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
        }
    .resume{
        color:rgb(250, 151, 2);
        align-content: unset;
        font-family: Arial, Helvetica, sans-serif;
    }
    .resume p{
        color:white;
    }
  .resume a:hover{
    background-color: rgb(250, 151, 2);
    color: black;
  }
  .resume a{
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(250, 151, 2) ;
        color: black;
  }
  .resume h2{
    align-content: unset;
    text-align:left;
  }
  .view{
        color:rgb(250, 151, 2);
        align-content: unset;
        font-family: Arial, Helvetica, sans-serif;
    }
    .view a{
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(250, 151, 2);
        color: black;
  }
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
        * {
            margin: 0;
            font-family: "Quicksand";
            color: #333;
        }
        .topnav {
        overflow: hidden;
        background-color: black;
        }

        .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        }

        .topnav a:hover {
        background-color: rgb(250, 151, 2);
        color: black;
        }

        .topnav a.active {
        background-color: rgb(250, 151, 2);
        color: white;
        }

        .topnav-right {
        float: right;
        }   
        a:link {

    text-decoration: none;
  }

a:hover{
        background-color: rgb(250, 151, 2);
        text-decoration-color: black;
        border-radius: 20px;
        text-decoration: none;
      }

  
    </style>
    </head>
  
    
    <body style="background-color: rgb(39, 43, 53);">
      <div class="topnav">
        <a class="active" href="#home">About the page</a>
        <div class="topnav-right">
         
          <a href="./about">ABOUT</a>
          <a href="./home">HOME</a>
          <a href="./login">LOGIN</a>
        </div>
      </div>
      <div>
        <h3>Enter your grades in all relevant semesters:</h3>
        <br><br>
          <nav>
            <h4><a class="about-button" style="color: rgb(255, 255, 255);" href = "sem1">SEM1</a></h4>
            <br>
            <h4><a class="about-button" style="color: white" href = "sem2">SEM2</a></h4>
            <br>
            <h4><a class="about-button" style="color: white" href = "sem3">SEM3</a></h4>
            <br>
            <h4><a class="about-button" style="color: white" href = "sem4">SEM4</a></h4>
            <br>
            <h4><a class="about-button" style="color: white" href = "sem5">SEM5</a></h4>
            <br>
          </nav>
      <br>
      <br>
          </div>
          <br>

          <div class="resume">
          <h2 style="color: rgb(0, 0, 0);">RESUME:</h2>
          <br>
            <div><p >Tips to make your resume the best!</p>
              <br>
            <a href="./resumetips">Click here</a>
            <br><br>
            </div>
          
          
        </div>
        <div class="faq">
          <br>
          <h3>FAQ's</h3>
          <br>
          <h2><a href="./faq" style="background-color: rgb(250, 151, 2);">Click here</a></h2>
            <br><br>
        </div>
        
