<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datascience</title>
<style>
    h3{
            color:rgb(250, 151, 2);
            text-transform:capitalize;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
        }
    .q{
        color:white;
        font-family: "Times New Roman", Times, serif;
        font-size:25px;
    }
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
</head>
<body style="background-color: rgb(39, 43, 53);">
    <img src="https://miro.medium.com/max/925/1*E1haIGB9K4K89PsFZgm-pw.jpeg" alt="dev" class="center">
    <div class="q">
        <h3>1. Explain the steps in making a decision tree.</h3>
        <p>
            <li>Take the entire data set as input</li>
            <li>Calculate entropy of the target variable, as well as the predictor attributes</li>
            <li>Calculate your information gain of all attributes (we gain information on sorting different objects from each other)</li>
            <li>Choose the attribute with the highest information gain as the root node </li>
            <li>Repeat the same procedure on every branch until the decision node of each branch is finalized</li>
        </p>
        <h3>2. What is Linear Regression?</h3>
        <p>Linear Regression is a mathematical relationship between an independent and dependent variable. The relationship is a direct proportion, relation making it the most simple relationship between the variables.<br>
            Y = mX+c
            <br>
            Y – Dependent Variable
            <br>
            X – Independent Variable
            <br>
            m and c are constants</p>
        <h3>3. What is Natural Language Processing? </h3>
        <p>Natural Language Processing is a branch of Artificial Intelligence that deals with the conversation of Human Language to Machine Understandable language so that it can be processed by ML models.</p>
        <h3>4. Why do we need Evaluation Metrics?</h3>
        <p>Evaluation Metrics are statistical measures of model performance. They are very important because to determine the performance of any model it is very significant to use various Evaluation Metrics. Few of the evaluation Metrics are – Accuracy, Log Loss, Confusion Matrix.</p>
        <h3>5. How does Confusion Matrix help in evaluating model performance?</h3>
        <p>We can find different accuracy measures using a confusion matrix. These parameters are Accuracy, Recall, Precision, F1 Score, and Specificity.</p>
        
    </div>