<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Development</title>
<style>
    h3{
            color:rgb(250, 151, 2);
            text-transform:capitalize;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
        }
    .questions{
        color:white;
        font-family: "Times New Roman", Times, serif;
        font-size:25px;
    }
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
</head>
<body style="background-color: rgb(39, 43, 53);">
    <img src="https://www.flexsin.com/blog/wp-content/uploads/2019/12/Custom-Software-Development.jpg" alt="dev" class="center">
    <div class="questions">
    <h3>1. What projects are you currently working on?</h3>
    <p>Since you're applying for an entry-level job, the projects you list can be side projects. The interviewer wants to know that you're actively coding, along with what type of technologies you use, and if you're passionate about the work.</p>
    <h3>2. How to reduce load time of web application?</h3>
    <p>Minimize HTTP requests, optimizing images, reducing redirects, enabling browser caching are some methods to reduce the load time of web apps. You should be able to describe how these techs help in reducing time effectively.</p>
    <h3>3. What tools would you use to test your code’s functionality?</h3>
    <p>Answer this according to your skills and the tools that you have previously used. Remember to explain in detail what you have used and how it solved your problems.</p>
    <h3>4.What is an Application server?</h3>
    <p>An application that lets you design and maintain server side as well as client side application. This is an important concept that you need to be familiar with.</p>
    <h3>5.What is multithreading?</h3>
    <p>Improve CPU performance with multi-threading. A program can manage multiple requests with the same user and can manage many users at the same time. Multiple processes are executed at the same time to improve the performance.</p>
    </div>
</body>