<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ's</title>
    <style>
        .faq {
            float:none;
            } 
        .faq a:hover {
            background-color: rgb(250, 151, 2);
            border-radius: 20px;
            color: black;
            }
        
        .faq a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            font-family: Arial, Helvetica, sans-serif;
            }
        h2{
            color:rgb(250, 151, 2);
            text-transform:capitalize;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
        }
        table, th, td {
             border: 1px solid black;
             color:rgb(255, 255, 255);
        }
    </style>
</head>
<body style="background-color: rgb(228, 44, 106);">
    <h2>CHOOSE YOUR DOMAIN</h2>
    <div class="faq">
        <a href="/dev">DEVELOPMENT</a>
        <a href="/datascience">DATA SCIENCE</a>
        <a href="/database">DATABASE ADMINISTRATION</a>
        <a href="/network">NETWORK ADMINISTRATION</a>
      </div>
      <br>
      <br>
      <br>
      <table>
        <tr>
          <th>Domain</th>
          <th>Company</th>
          <th>Visit</th>
        </tr>
        <tr>
            <td>Development</td>
            <td>
                <li>Accenture</li>
                <li>IBM</li>
                <li>Tata Consultancy Services</li>
                <li>Virtusa</li>
                <li>Google</li>
            </td>
            <td>
                <a href="http://www.accenture.com">www.accenture.com</a><br>
                <a href="http://www.ibm.com">www.ibm.com</a><br>
                <a href="http://www.tcs.com">www.tcs.com</a><br>
                <a href="http://www.virtusa.com">www.virtusa.com</a><br>
                <a href="http://www.google.com">www.google.com</a><br>
            </td>
        </tr>
        <tr>
            <td>Data Science</td>
            <td>
                <li>Microsoft</li>
                <li>Facebook</li>
                <li>Apple</li>
                <li>Amazon</li>
                <li>IBM</li>
            </td>
            <td>
                <a href="http://www.microsoft.com">www.microsoft.com</a><br>
                <a href="http://www.facebook.com">www.facebook.com</a><br>
                <a href="http://www.apple.com">www.apple.com</a><br>
                <a href="http://www.amazon.com">www.amazon.com</a><br>
                <a href="http://www.ibm.com">www.ibm.com</a><br>
        </tr>
        <tr>
            <td>Database Administration</td>
            <td>
                <li>Amdocs</li>
                <li>HCL Technologies</li>
                <li>IBM</li>
                <li>Accenture</li>
                <li>Tata Consultancy Services</li>
            </td>
            <td>
                <a href="http://www.amdocs.com">www.amdocs.com</a><br>
                <a href="http://www.hcltech.com">www.hcltech.com</a><br>
                <a href="http://www.ibm.com">www.ibm.com</a><br>
                <a href="http://www.accenture.com">www.accenture.com</a><br>
                <a href="http://www.tcs.com">www.tcs.com</a><br>
            </td>
        </tr>
        <tr>
            <td>Network Administration</td>
            <td>
                <li>Cisco Systems</li>
                <li>Dell Technologies</li>
                <li>Accenture</li>
                <li>Tata Communications</li>
                <li>Capgemini Engineering</li>
            </td>
            <td>
                <a href="http://www.cisco.com">www.cisco.com</a><br>
                <a href="https://jobs.dell.com">https://jobs.dell.com</a><br>
                <a href="http://www.accenture.com">www.accenture.com</a><br>
                <a href="http://www.tatacommunications.com">www.tatacommunications.com</a><br>
                <a href="http://www.capgemini-engineering.com">www.capgemini-engineering.com</a><br>
            </td>
        </tr>
        </table>
</body>