<!DOCTYPE html>
<html>
    <head>
        <title>Placement Helper</title>
        <link href="home.css" type="text/css" rel="stylesheet" />
        
        <style type="text/css">
           
            a:link {

                text-decoration: none;
            }

            a:hover{
                background-color: rgb(250, 151, 2);
                text-decoration-color: black;
                border-radius: 20px;
                text-decoration: none;
            }
        </style>

    </head>
    <link rel="stylesheet" href="home.css">
    <body>
        <div class="top">
            <div class="links">
                <nav>
                
                    <a class="about-button" style="color: white;font-size: 20px;" href="/about">About this Project</a>
                    <a class="register-button" style="color: white;font-size: 20px;" href="/register">Register</a>
                    <a class="login-button" style="color: white;font-size: 20px;" href="/login">Login</a>
                </nav>
            </div>
        </div>
        <div class="hero-image">
            <div class="container">
            <h1>Student Placement Helper</h1>
            </div>
        </div>
    </body>

</html>