<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Administration</title>
<style>
h3{
            color:rgb(250, 151, 2);
            text-transform:capitalize;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
        }
    .q{
        color:white;
        font-family: "Times New Roman", Times, serif;
        font-size:25px;
    }
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
</head>
<body style="background-color: rgb(39, 43, 53);">
    <img src="https://www.rasmussen.edu/-/media/images/blogs/school-of-technology/2019/network-administrator-salary-s.png" alt="network" class="center">
<div class="q">
    <h3>1. What is a private IP address?</h3>
    <p>Private IP addresses are assigned for use on intranets. These addresses are used for internal networks and are not routable on external public networks. These ensure that no conflicts are present among internal networks. At the same time, the same range of private IP addresses is reusable for multiple intranets since they do not “see” each other.</p>
    <h3>2. What is the advantage of address sharing?</h3>
    <p>By using address translation instead of routing, address sharing provides an inherent security benefit. That’s because host PCs on the Internet can only see the public IP address of the external interface on the computer. Instead, it provides address translation and not the private IP addresses on the internal network.</p>
    <h3>3. How can you identify the IP class of a given IP address?</h3>
    <p>By looking at the first octet of any given IP address, you can identify whether it’s Class A, B, or C. If the first octet begins with a 0 bit, that address is Class A. If it begins with bits 10 then that address is a Class B address. If it begins with 110, then it’s a Class C network.</p>
    <h3>4. What are firewalls?</h3>
    <p>Firewalls serve to protect an internal network from external attacks. These external threats can be hackers who want to steal data or computer viruses that can wipe out data in an instant. It also prevents other users from external networks from gaining access to the private network.</p>
    <h3>5. What is a Hybrid Network?</h3>
    <p>A hybrid network is a network setup that makes use of both client-server and peer-to-peer architecture.</p>
</div>

</body>