<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Tips</title>
    <style>

        h1{
            color:rgb(250, 151, 2) ;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size:40px;
        }
        h2{
            color:rgb(250, 151, 2) ;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: solid;
            font-weight:bold;
            font-size:30px;
        }
        h3{
            color:rgb(250, 151, 2);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size:30px;
        }
        .one{
            color:white;
            font-family: "Times New Roman", Times, serif;
            font-size:25px;
        }
    </style>
</head>
<body style="background-color: rgb(228, 44, 106);">
    <h1>Maybe you’ve finished writing your resume, maybe you’re just starting. </h1>
    <h1>Either way, you could probably use some good resume tips. </h1>
    <img src="https://global-uploads.webflow.com/5e9b599e716f9d94b6c84f43/6070f342aa48853802a91e12_resume-tips-and-tricks.png" alt="Resume" style="height:600px;width:1500px;">
    <h2>The Best Resume Tips </h2>
    <div class="one">
        <h3>1. Use Active Language </h3>
        <p>When you are adding job descriptions to previous experiences, use power words such as “achieved,” “earned,” and “accomplished".</p>
        <h3>2. Create Focal Points </h3>
        <p>Here are some ways you can draw their attention to the important things:
            <li>Put the most relevant experiences at the top, don't worry about chronology.</li>
            <li>Bold the important parts. Don't go overboard here.</li>
            <li>Use numbers and awards to draw attention.</li>
            <li>Remove irrelevant experiences.</li></p>
        <h3>3. Craft your summary or objective statement with care.</h3>
        <p>“Tell the reader that you know what you would be doing in this job, that you have the skills to complete these types of tasks on a day-to-day basis, and weave that into your summary”</p>
        <h3>4. Emphasize your projects.</h3>
        <p>Your resume should be broken down into four main sections: experience, education, skills, and projects. That last part is especially important for a software engineer resume.</p>
        <p>Even if you're just starting out and you don't have years of work experience behind you, you can still show off your skills by listing the projects you've completed. Work projects, personal projects, coding bootcamp projects; list anything that’s relevant to the job you're looking for.</p>
        <p>“Employers love to see what you've been working on in your own time,” Demirev says. “Side projects show that you go the extra mile. You’re not only learning at school or at work for your own benefit, you’re also building something you enjoy.”</p>
        <h3>5. Customize your resume for the job.</h3>
        <p>If possible, tailor your resume to an individual job opening by including as many keywords as possible. The closer your resume matches the job description, the more it shows that you are a perfect fit for the job, which increases your chances of getting a callback.</p>
        <h3>6. Lastly, make your resume concise and easy to scan</h3>
        <p>It’s your job to make your resume dead simple to figure out whether you’re a potential fit for the role after about <b> 5-7 seconds of reading your CV.</b>That’s how long a recruiter typically spends reading a CV according to an eye-tracking study.</p>
        <p>If you look like a potential match, they might spend a little longer looking at your projects, checking out your website, and trying to understand better how you might fit into the existing team.</p>
        
        
    </div>
    
</body>